aside {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  justify-content: center;
  
  min-height: 100vh;
  max-width: 30rem;
  width: 80vw;
  
  background-color: var(--dark-bg);
  overflow-y: scroll;
  overflow-x: hidden;
}

aside:not([hidden]) + main #open-menu-btn {
  display: none;
}

aside > * {
  grid-column: 1/ span 4;
  justify-self: center;
}

aside form {
  box-sizing: border-box;
}

#close-menu-btn {
  position: fixed;
  left: .2rem;
  top: 5rem;
  grid-column: 1/ 2;
  grid-row: 1/ 2;

  justify-self: baseline;

  height: 3rem;
  width: auto;
  /* border: unset; */

  background-color: var(--dark-bg);
  border: none;
}

#close-menu-btn > img {
  height: 3rem;
  border-radius: unset;
}

aside > a {
  grid-row: 1 / 2;

  background-color: var(--middle-bg);
  height: clamp(3rem, 50vw, 7rem);
  width: auto;
  border-radius: 25rem;
  justify-self: center;

  margin-top: 2.5rem;

}

aside img {
  height: 100%;
  width: auto;
  border-radius: 25rem;
}



aside ul {
  list-style: none;
  /* height: fit-content; */
}

#menu {
  padding-inline: 0.5rem;  /* remove intent form main menu*/
  min-height: 520px;
  min-width: 300px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-size: clamp(1rem, 5vw, 1.5rem)!important;
}

#menu li {
  width: fit-content;
}

#menu a {
  text-decoration-color: var(--hi-ligth);
  text-decoration-thickness: .15em;
}

#menu .open-page,
#menu li:hover,
#menu a:focus {
  background-color: var(--hi-ligth);
  color: var(--dark-text);
  text-decoration: none;
  /* padding-left: .15rem; */
}

.sub-menu {
  display: none;
  padding: 0;
  position: relative;
  left: 1.5rem;
}

:is(
  .open-page, 
  li:hover,
  a:focus) +.sub-menu,
.sub-menu:hover {
  display: initial;
}

aside p,
#menu a {
  /* font-size: 28px; */
  font-family: 'Aleo', serif;
  color: var(--ligth-text);
}

@media only screen and (min-width: 900px) {
  aside {
    position: sticky;
    top: 0px;
    width: 350px;
    /* justify-items: center; */
    /* align-items: center; */
    padding-block: 0;
    height: 100vh;
  }

  aside >*{
    grid-column: 1 / span 4;
    /* align-self: baseline; */
  }

  aside p {
    align-self: flex-end;
  }

  #menu {
    
  }

  #close-menu-btn {
    display: none;
  }
}