aside {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content, 1rem, repeat(2, 1fr);
  row-gap: 2rem;
  justify-content: center;
  align-items: baseline;
  
  height: 100vh;
  width: 80vw;
  padding: 1rem;
  
  background-color: var(--dark-bg);
  overflow: scroll;
}

aside:not([hidden]) + main #open-menu-btn {
  display: none;
}

aside:not([hidden]) + main {
  overflow: hidden;
}

aside > * {
  grid-column: 2/ 4;
  align-self: baseline;
}

#close-menu-btn {
  position: fixed;
  left: 1rem;
  top: 5rem;
  grid-column: 1/ 2;
  grid-row: 1/ 2;

  height: 3rem;
  height: auto;
  border: unset;

  background-color: var(--dark-bg);
  border: none;
}

#close-menu-btn > img {
  height: 3rem;
  border-radius: unset;
}

aside > a {
  grid-row: 1 / 2;

  background-color: var(--middle-bg);
  height: 8rem;
  width: 8rem;
  border-radius: 25rem;
  justify-self: center;

  margin-top: 2.5rem;

}

aside img {
  height: 100%;
  width: auto;
  border-radius: 25rem;
}

aside > form {
  height: min-content;
  margin: 0;
}

aside ul {
  list-style: none;
  /* height: fit-content; */
}

#menu {
  padding-left: 0;  /* remove intent form main menu*/
  min-height: 520px;
  min-width: 300px;
}

#menu li {
  width: fit-content;
}

#menu a {
  text-decoration-color: var(--hi-ligth);
  text-decoration-thickness: .15em;
}

#menu .open-page,
#menu li:hover,
#menu a:focus {
  background-color: var(--hi-ligth);
  color: var(--dark-text);
  text-decoration: none;
  padding-left: .15rem;
}

.sub-menu {
  display: none;
  padding: 0;
  position: relative;
  left: 1.5rem;
}

:is(
  .open-page, 
  li:hover,
  a:focus) +.sub-menu,
.sub-menu:hover {
  display: initial;
}

aside p,
#menu a {
  font-size: 28px;
  font-family: 'Aleo', serif;
  color: var(--ligth-text);
}

@media only screen and (min-width: 900px) {
  aside {
    position: static;
    width: 14rem;
    justify-items: center;
    align-items: center;
    position: static;
    top: 0px;
    padding-block: 0;

    overflow: initial;
  }

  aside:not([hidden]) + main {
    overflow: scroll;
  }

  aside >*{
    grid-column: 1 / span 4;
    align-self: baseline;
  }

  aside p {
    align-self: flex-end;
  }

  #close-menu-btn {
    display: none;
  }
}