section {
  display: grid;
  grid-column: span 5;
  margin-top: 2.25rem;
  grid-template-rows: repeat(2, auto);
  gap: 29px;
}

section > * {
  grid-column: span 5;
}

section h2 {
  justify-self: center;
}

section img {
  height: auto;
  width: 100vw;
}

section:nth-of-type(1) > img {
  height: 18rem;
  object-fit: cover;
  object-position: 0 30%;
}

section:nth-of-type(2) > img {
  height: 15rem;
  object-fit: cover;
  object-position: 0 70%;
}

section:nth-of-type(3) > img {
  height: 18rem;
  object-fit: cover;
  object-position: 0 30%;
}

section p {
  font-size: 21px;
  padding-inline: 2.5rem;
}