#page-content {
  display: grid;
  grid-column: span 5;
  padding-block: 2rem;
  grid-template-rows: repeat(2, auto);
  gap: 37px;
}

#page-content img {
  height: auto;
  width: 100%;
}

#page-content img:nth-of-type(2) {
  height: 13rem;
  object-fit: cover;
  object-position: 0 40%;
}

#page-content img:nth-of-type(3) {
  height: 25rem;
  object-fit: cover;
  object-position: 0 77%;
}

#page-content p {
  font-size: 21px;
  padding-inline: 2.5rem;
}

@media only screen and (min-width: 1200px) {
  #page-content {
    display: grid;
    grid-template-columns: subgrid;
  }

  #page-content p:first-of-type,
  #page-content img:first-of-type {
    grid-column: span 4;
  }

  #page-content p:nth-of-type(2),
  #page-content p:nth-of-type(3),
  #page-content img:last-of-type {
    grid-column: 1 / span 2;
  }

  #page-content img:nth-of-type(2),
  #page-content p:last-of-type {
    grid-column: 3 / span 2;
  }

  #page-content img:nth-of-type(2) {
    grid-row: span 2;
    height: auto;
  }
}