main > div:nth-of-type(2) {
  display: grid;
  grid-column: span 5;
  grid-template-columns: subgrid;
  gap: .5rem;
  padding-inline: .5rem;
}

#location {
  grid-column: 1 / span 5;
  grid-row: 2;
  display: grid;
  grid-template-columns: subgrid;
}

  #location h2 {
    grid-column: span 5;
    grid-row: 1 / 2;
    justify-self: center;
  }

  #location p {
    grid-column: span 5;
    grid-row: 2 / 3;
    padding-inline: unset;
  }

  #location img {
    grid-column: 4;
    grid-row: 3;
    width: 9rem;
    height: 13rem;
    object-fit: cover;
    object-position: 70% 0;
  }

table {
  grid-column: 1 / span 4;
  grid-row: 2;
  position: relative;
  top: 5rem;
  height: 1rem;
}

  table > tr:not(:first-child) > th {
    text-align: right;
  }

#tabs {
  grid-column: span 5;
  display: flex;
  list-style: none;
  border: .1em solid var(--hi-ligth);
  border-radius: .5em;
  gap: .1em;
  padding: 0;
  background-color: var(--hi-ligth);
}

  #tabs > li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;
    background-color: var(--middle-bg)
  }

  #tabs > .prev {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% - .75rem) 50%,
      100% 100%,
      0% 100%
    );
  }

  #tabs > .selected + li {
    clip-path: polygon(
      .75rem 50%,
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }

  #tabs > .selected {
    background-color: var(--hi-ligth);
    border-radius: 0;
    clip-path: polygon(
      0% 50%, /*left angle*/
      10% 0%, /*left top*/
      90% 0%, /*rigth top*/
      100% 50%, /*rigth angle*/
      90% 100%, /*rigth bottom*/
      10% 100% /*left bottom*/
    );
  }

#module-tabs {
  grid-column: span 5;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(2, auto);
  gap: .5rem;
  margin-inline: 2rem;
  margin-top: .5rem;
}

#module-tabs section.selected {
  grid-column: span 5;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(2, auto);
  gap: .5rem;
  height: 40rem;
}

#module-tabs section {
  display: none;
}

#module-tabs section > * {
  grid-column: span 5;
}

#module-tabs section > h2 {
  justify-self: center;
}

#module-tabs section p {
  font-size: 21px;
  padding-inline: 2.5rem;
}

#module-tabs section img {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  #location img {
    position: relative;
    right: 3rem;
    top: 1rem;
    width: 12rem;
  }
}

@media only screen and (min-width: 900px) {
  table {
    margin-left: 2rem;
  }

  main > * {
    grid-column: span 4;
  }

  main > *:last-child {
    margin-inline: 0;
  }

  table {
    right: 5rem;
    top: 5.5rem;
  }

  table > tr:not(:first-of-type) > th {
    width: min-content;
  }

  #location img {
    position: relative;
    left: 1rem;
  }

  #tabs {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  main > div:nth-of-type(2) {
    grid-column: 1;
    justify-self: center;
  }

  #location {
    grid-row: 1 / 2;
    display: grid;
    gap: .5rem;
  }

  #location img {
    width: 15rem;
    position: relative;
    left: 0;
  }

  #location * {
    width: 100%;
  }

  table {
    position: initial;
    top: unset;
  }

  #module-tabs {
    grid-column: 2 / span 3;
    margin: 0;
    height: min-content;
  }
}